---
import { getCollection } from "astro:content";
import CalendarPub from "../../components/CalendarPub.astro";
import Container from "../../components/Container.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Link from "../../components/Link.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Main from "../../layouts/Main.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Main title={`Blog - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <Container size="sm">
    <section>
      <h1 class="mb-16 text-center text-6xl font-bold">Blog</h1>

      <ul class="flex flex-col gap-8">
        {
          posts.map((post) => (
            <li class="flex flex-col gap-1">
              <div class="flex cursor-default items-center" title="Published on">
                <CalendarPub />
                &nbsp;
                <FormattedDate class="text-lg" date={post.data.pubDate} />
              </div>

              <Link class="w-fit text-xl font-bold" href={`/blog/${post.slug}/`}>
                {post.data.title}
              </Link>
            </li>
          ))
        }
      </ul>
    </section>
  </Container>
</Main>
