---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import CalendarPub from "../../components/CalendarPub.astro";
import Container from "../../components/Container.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import Link from "../../components/Link.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="ae-body">
    <Header />

    <main class="mb-12 flex-grow">
      <Container size="sm">
        <section>
          <h1 class="mb-16 text-center text-6xl font-bold">Blog</h1>

          <ul class="flex flex-col gap-8">
            {
              posts.map((post) => (
                <li class="flex flex-col gap-1">
                  <div class="flex cursor-default items-center" title="Published on">
                    <CalendarPub />
                    &nbsp;
                    <FormattedDate class="text-lg" date={post.data.pubDate} />
                  </div>

                  <Link class="w-fit text-xl font-bold" href={`/blog/${post.slug}/`}>
                    {post.data.title}
                  </Link>
                </li>
              ))
            }
          </ul>
        </section>
      </Container>
    </main>

    <Footer />
  </body>
</html>
