---
import { getCollection, type CollectionEntry } from "astro:content";
import PostList from "../../components/ad-hoc/PostList.astro";
import Container from "../../components/ui/Container.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Main from "../../layouts/Main.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}

export async function getStaticPaths() {
  const posts = await getCollection("blog", (post) => !post.data.draft);
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts
      .filter((post) => post.data.tags.includes(tag))
      .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Main title={`${tag} - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <Container size="sm">
    <section>
      <h1 class="mb-16 text-center text-6xl font-bold">#{tag}</h1>

      {posts.length > 0 && <PostList posts={posts} />}
    </section>
  </Container>
</Main>
