---
import { Image } from "astro:assets";
import EliaPari from "../assets/elia-pari.jpg";
import Container from "../components/ui/Container.astro";
import Link from "../components/ui/Link.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Main from "../layouts/Main.astro";
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Container size="sm" marginBottom="mb-16">
    <section class="flex flex-col items-center">
      <Image class="mb-8 rounded-sm" width={240} height={240} src={EliaPari} alt={SITE_TITLE} />

      <h1 class="mb-6 text-6xl font-bold">{SITE_TITLE}</h1>

      <h2 class="mb-16 text-4xl font-bold">Software Engineer</h2>

      <div class="flex rounded-sm border-2 border-ae-black dark:border-ae-white">
        <div class="h-12 w-12 bg-ae-black"></div>
        <div class="h-12 w-12 bg-ae-gray"></div>
        <div class="h-12 w-12 bg-ae-white"></div>
        <div class="h-12 w-12 bg-ae-red"></div>
        <div class="h-12 w-12 bg-ae-yellow"></div>
        <div class="h-12 w-12 bg-ae-blue"></div>
        <div class="h-12 w-12 bg-ae-pink"></div>
      </div>
    </section>
  </Container>

  <Container size="sm">
    <section class="ae-prose">
      <p>
        This is my little corner on the web where I <Link href="/blog" target="_self">write</Link> about geeky things that
        I might find interesting or useful.
      </p>

      <h4>Skills</h4>
      <ul>
        <li>Angular</li>
        <li>NestJS</li>
        <li>MongoDB</li>
        <li>Node.js</li>
        <li>Docker</li>
      </ul>

      <p>You can read more about me <Link href="/about" target="_self">here</Link>.</p>

      <p>That's it, have fun!</p>
    </section>
  </Container>
</Main>
