---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import CalendarPub from "../components/CalendarPub.astro";
import CalendarUpdated from "../components/CalendarUpdated.astro";
import Clock from "../components/Clock.astro";
import Container from "../components/Container.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE } from "../consts";
import Main from "./Main.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, image, readingTime } = Astro.props;
---

<Main title={`${title} - ${SITE_TITLE}`} description={description} image={image?.data.src}>
  <Container size="sm">
    <section class="ae-prose">
      {
        image?.data && (
          <Image
            class="mt-0"
            width={image.data.width}
            height={image.data.height}
            src={image.data || "#"}
            alt={image.alt || ""}
          />
        )
      }

      <h1 class="title">{title}</h1>

      <div class="flex flex-wrap items-center justify-around gap-4">
        <div class="cursor-default" title="Published on">
          <CalendarPub />
          &nbsp;
          <FormattedDate date={pubDate} />
        </div>

        {
          updatedDate && (
            <div class="cursor-default" title="Updated on">
              <CalendarUpdated />
              &nbsp;
              <FormattedDate date={updatedDate} />
            </div>
          )
        }

        {
          readingTime && (
            <div class="cursor-default" title="Estimated reading time">
              <Clock />
              &nbsp;
              <span>{readingTime}</span>
            </div>
          )
        }
      </div>

      <hr />

      <slot />

      <hr />
    </section>
  </Container>
</Main>
