---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import CalendarPub from "../components/CalendarPub.astro";
import CalendarUpdated from "../components/CalendarUpdated.astro";
import Clock from "../components/Clock.astro";
import Container from "../components/Container.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, readingTime } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="ae-body">
    <Header />

    <main class="mb-12 flex-grow">
      <Container size="sm">
        <section class="prose prose-ae m-auto dark:prose-invert md:prose-lg lg:prose-xl">
          {heroImage && <Image class="mt-0" width={heroImage.width} height={heroImage.height} src={heroImage} alt="" />}

          <h1 class="title">{title}</h1>

          <div class="flex flex-wrap items-center justify-around gap-4">
            <div class="cursor-default" title="Published on">
              <CalendarPub />
               &nbsp;
              <FormattedDate date={pubDate} />
            </div>

            {
              updatedDate && (
                <div class="cursor-default" title="Updated on">
                  <CalendarUpdated />
                  &nbsp;
                  <FormattedDate date={updatedDate} />
                </div>
              )
            }

            {
              readingTime && (
                <div class="cursor-default" title="Estimated reading time">
                  <Clock />
                  &nbsp;
                  <span>{readingTime}</span>
                </div>
              )
            }
          </div>

          <hr />

          <slot />

          <hr />
        </section>
      </Container>
    </main>

    <Footer />
  </body>
</html>
