---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Container from "../components/Container.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="ae-body">
    <Header />

    <main class="mb-12 flex-grow">
      <Container size="sm">
        <section class="prose prose-ae m-auto dark:prose-invert md:prose-lg lg:prose-xl">
          <!-- TODO: Check which format to always use for the main blog post image. -->
          <!-- TODO: What about the other blog post images inside the article??... -->
          {heroImage && <img class="mt-0" width={720} height={360} src={heroImage} alt="" />}

          <h1 class="title">{title}</h1>

          <FormattedDate date={pubDate} />

          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on
                <FormattedDate date={updatedDate} />
              </div>
            )
          }

          <hr />

          <slot />

          <hr />
        </section>
      </Container>
    </main>

    <Footer />
  </body>
</html>
