---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import CalendarPub from "../components/icons/CalendarPub.astro";
import CalendarUpdated from "../components/icons/CalendarUpdated.astro";
import Clock from "../components/icons/Clock.astro";
import Container from "../components/ui/Container.astro";
import FormattedDate from "../components/ui/FormattedDate.astro";
import { SITE_TITLE } from "../consts";
import Main from "./Main.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, image, tags, readingTime } = Astro.props;
---

<Main title={`${title} - ${SITE_TITLE}`} description={description} image={image?.data.src}>
  <Container size="sm">
    <section class="ae-prose">
      {
        image?.data && (
          <Image
            class="mt-0"
            width={image.data.width}
            height={image.data.height}
            src={image.data || "#"}
            alt={image.alt || ""}
          />
        )
      }

      <h1 class="title">{title}</h1>

      <div>
        <div class="mb-4 flex flex-wrap items-center justify-around gap-4">
          <div class="cursor-default" title="Published on">
            <CalendarPub />
            &nbsp;
            <FormattedDate date={pubDate} />
          </div>

          {
            updatedDate && (
              <div class="cursor-default" title="Updated on">
                <CalendarUpdated />
                &nbsp;
                <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>

        <div class="flex flex-wrap items-center justify-around gap-4">
          {
            readingTime && (
              <div class="cursor-default" title="Estimated reading time">
                <Clock />
                &nbsp;
                <span>{readingTime}</span>
              </div>
            )
          }

          <ul class="m-0 flex flex-wrap items-center gap-2 p-0">
            {
              tags.map((tag) => (
                <li class="m-0 inline-block p-0">
                  <a href={`/tags/${tag}`}>#{tag}</a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>

      <hr />

      <slot />

      <hr />
    </section>
  </Container>
</Main>
